* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 20px;
}
.card{
    height: 300px;
    width: 350px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;

}

.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 50%;


}

.card h3{
    font-size: 25px;
    white-space: nowrap;
}
.card h4{
    font-size: 18px;
    margin-top: 20px;
    color: crimson;
    margin-bottom: 10px;



}