@font-face {
    font-family: apple;
    src: url(./sf-pro-text_regular.woff2);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(43, 44, 44);
}


#nav{
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

h4{
    font-size: 12px;
    color: rgb(132, 128, 128);
    font-weight: 400;
}

#para{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50px;
    background-color: rgb(50, 50, 50);
}

#para p{
    font-size: 14px;
    
}
#center{
    background-color: black;
    background-image: url(https://www.apple.com/v/iphone-17-pro/b/images/overview/welcome/hero__bdntboqignj6_xlarge_2x.jpg);
    background-position:  50% 30px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 90%;
    width: 100%;
    color: white;
}

#links{
    height: 180%; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

#links button{
    font-size: 18px;
    font-weight: 300;
    bottom: 10px;
    background-color: royalblue;
    color: white;
    padding: 13px 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    

}

button::after{
    background-color: rgb(112, 109, 109);
}
