* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;

}
.card h2{
    font-size: 30px;
    text-align: center;
}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    opacity: 0;
    /* background: linear-gradient(to right bottom, rgb(172, 9, 172),rgb(230, 6, 130)); */
    background-image: url(https://img.freepik.com/free-vector/instagram-background-gradient-colors_23-2147819864.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 80px;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.76,.79,.67,1.43) 0.2s;
}


