* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: black;
}

.box{
    width: 350px;
    height: 300px;
    background-color:rgb(57, 95, 114);
    border: 2px solid white;
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    background-color: crimson;
    border-radius: 5px;
    cursor: pointer;

}

button:active{
    scale: 0.95;
}