* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 1fr ;
    grid-template-rows: 60px 1fr 70px;
    grid-gap: 10px;
    padding: 10px;

    grid-template-areas: "header header"
                         "aside section"
                         "footer footer";
    
}

header{
    background-color: blue;
    grid-area: header;
}
aside{
    background-color: #5a0202;
    grid-area: aside;
}

section{
    background-color: rgb(29, 2, 120);
    grid-area: section;
}
footer{
    background-color: rgb(157, 42, 0);
    grid-area: footer;
}